<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd">
    <!--启用注解扫描-->
    <context:component-scan base-package="dao"/>

    <!--配置数据源-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"/>
    <!--mybatis配置项-->
    <!--创建SqlSessionFactory对象-->
    <bean id="slqSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--注入数据源-->
        <property name="dataSource" ref="dataSource"/>
        <!--加载mybatis核心配置-->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
    </bean>
    <!--mapper代理开发，注册映射器:扫描包下的mapper映射文件，创建代理对象，对象id为：mapper接口名称首字母小写-->
    <bean  class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--扫描指定包下的mapper映射文件，生成mapper代理对象-->
        <property name="basePackage" value="dao"/>
      <!--  <property name="sqlSessionFactoryBeanName" value="slqSessionFactory"/>-->
    </bean>
         <!--mapper代理开发：注解方式，等效上面配置-->
   <!-- <mybatis:scan base-package="com.smbms.dao"/>-->
   </beans>